.inputButtonContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.Plus {
    background-color: #ffffff;
    height:50px;
    border-radius: 3px;
    fill:#4b533f;
    border-radius: 10px;
    color:#4b533f;
    border-color: #4b533f;
}

.Plus:hover{
    background-color: #f1f8E0;
}

