:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #679186;
  margin: auto;
 place-content: center;
}

body {
  display: flex;
  place-items: stretch;
  min-width: 320px;
  min-height: 100vh;
  background-color: #bbd4ce;

}

